card.hbs <br>

<h1>Favorite card</h1>
<p>Card id : {{this.model.id}}</p>
<p>name : {{this.model.name}}</p>
<p>description : {{this.model.description}}</p>
<p>order : {{this.model.order}}</p>
<p>creationDate : {{this.model.creationDate}}</p>
