this.model.hbs <br>

<h1>Favorite this.model</h1>
<p>name : {{this.model.name}}</p>
<p>description : {{this.model.description}}</p>
<p>order : {{this.model.order}}</p>
<p>actualDate : {{this.model.actualDate}}</p>
<p>scheduledDate : {{this.model.scheduledDate}}</p>
<p>completedDate : {{this.model.completedDate}}</p>
<p>creationDate : {{this.model.creationDate}}</p>
<p>priority : {{this.model.priority}}</p>
<p>Note: {{this.model.note}}</p>
