users.hbs <br>

<h1>List users</h1>
{{#each this.model as |user|}}
  <p>User id : {{user.id}}</p>
  <p>User name : {{user.name}}</p>
  <img src={{user.avatar}} alt="Avatar" class="avatar">
  <hr>
  {{#each user.boards as |board|}}
    <p>Board name : {{board.name}}</p>
    {{#each board.columns as |column|}}
      <p>Column name : {{column.name}}</p>
      {{#each column.cards as |card|}}
        <p>Card name : {{card.name}}</p>
      {{/each}}
    {{/each}}
  {{/each}}
{{/each}}
